<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="TeamWatcher" Manufacturer="Synova Tecnologia" Version="0.2.0" UpgradeCode="A4F61A44-49FB-4B47-9D74-78628318C167" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="Uma versão mais recente do TeamWatcher já está instalada." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="SERVER_URL" Value="https://timewatcher.32-193-139-223.sslip.io" Secure="yes" />
    <Property Id="TENANT_ID" Secure="yes" />
    <Property Id="ENROLLMENT_TOKEN" Hidden="yes" Secure="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="TimeWatcher">
        <Component Id="AgentFiles" Guid="A57E86E2-5C66-43F3-9811-17A4AD489342">
          <File Id="AgentScript" Source="TimeWatcherAgent.ps1" />
        </Component>
        <Component Id="AgentConfiguration" Guid="CB16B47D-840E-4A0A-9DC8-FF74E443E281">
          <RegistryValue Root="HKLM" Key="Software\TimeWatcher" Name="ServerUrl" Type="string" Value="[SERVER_URL]" KeyPath="yes" />
          <RegistryValue Root="HKLM" Key="Software\TimeWatcher" Name="TenantId" Type="string" Value="[TENANT_ID]" />
          <RegistryValue Root="HKLM" Key="Software\TimeWatcher" Name="EnrollmentToken" Type="string" Value="[ENROLLMENT_TOKEN]" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="TimeWatcher" Type="string" Value="&quot;[System64Folder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -WindowStyle Hidden -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]TimeWatcherAgent.ps1&quot;" />
        </Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="Main" Title="TeamWatcher Agent">
      <ComponentRef Id="AgentFiles" />
      <ComponentRef Id="AgentConfiguration" />
    </Feature>
  </Package>
</Wix>
